.project-header {
	@include container-small;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.back-to-main {
		display: flex;
		align-items: center;
		cursor: pointer;

		.back-arrow {
			width: 6.25vw;
			margin-right: 1.5625vw;
			@include breakpoint(md) {
				width: 3.125vw;
				margin-right: 1.04166666665vw;
			}
			@include breakpoint(xl) {
				width: 2.5vw;
				margin-right: 0.625vw;
			}
			@include breakpoint(xxl) {
				width: 2.77777777777777vw;
				margin-right: 0.694444444444vw;
			}
		}

		.heading-3 {
			line-height: 0.9;
		}
	}
}

.project-hero-container {
	width: 100%;
	// height: 20rem;
	height: 34.72222222222vmax;
	@include breakpoint(md) {
		height: 39.0625vmax;
	}
	@include breakpoint(xl) {
		height: 46.875vmax;
	}

	> img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.project-quick-hits {
	@include container-small;
	padding-bottom: $section-sm-y;
	display: flex;
	flex-direction: column;
	@include breakpoint(md) {
		padding-bottom: $section-lg-y;
		flex-direction: row;
		justify-content: space-between;
	}
	@include breakpoint(xl) {
		padding-bottom: $section-xl-y;
	}
	@include breakpoint(xxl) {
		padding-bottom: $section-xxl-y;
	}

	> div {
		margin-bottom: 3.4722222222223vmax;
		@include breakpoint(md) {
			flex: 0 0 25%;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.project-synopsis {
	@include container-sectional;
	@include breakpoint(md) {
		display: flex;
		justify-content: space-between;
	}
	&.mosaic-enabled {
		@include breakpoint(md) {
			align-items: center;
		}

		.project-overview {
			margin-bottom: 0;
		}

		.project-mosaic {
			display: none;
			@include breakpoint(md) {
				display: block;
				height: 45vmax;
				flex: 0 0 47.3958333333%;
			}
			@include breakpoint(lg) {
				height: 39.0625vmax;
			}
			@include breakpoint(xl) {
				flex: 0 0 50%;
				height: 39.0625vmax;
			}
			@include breakpoint(xxl) {
				height: 41.66666666666667vmax;
			}

			> .img-responsive {
				@include breakpoint(md) {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}

	.project-overview {
		margin-bottom: 17.3611111111111vmax;
		@include breakpoint(md) {
			margin-bottom: 0;
			flex: 0 0 47.3958333333%;
		}
		@include breakpoint(xl) {
			flex: 0 0 41.66666667%;
		}
		@include breakpoint(xxl) {
			flex: 0 0 37.5%;
		}

		> .heading-3 {
			line-height: 0.9;
			margin-bottom: 4.34027777778vmax;
			@include breakpoint(xl) {
				margin-bottom: 3.125vmax;
			}
			@include breakpoint(xxl) {
				margin-bottom: 3.47222222222222223vmax;
			}
		}

		> .body-paragraph {
			margin-bottom: 4.34027777777778vmax;
			@include breakpoint(lg) {
				margin-bottom: 3.125vmax;
			}
		}

		.visit-website {
			display: flex;
			align-items: center;
			cursor: pointer;

			> .heading-3 {
				line-height: 0.9;
				margin-right: 0.8rem;
			}

			.diagonal-arrow {
				width: 5vw;
				@include breakpoint(md) {
					width: 2.604166666667vw;
				}
				@include breakpoint(xl) {
					width: 2.1875vw;
				}
			}
		}
	}

	.project-awards {
		@include breakpoint(md) {
			flex: 0 0 47.3958333333%;
		}
		@include breakpoint(xl) {
			flex: 0 0 50%;
		}

		> .heading-3 {
			line-height: 0.9;
			margin-right: 0.8rem;
			margin-bottom: 4.34027777777778vmax;
			@include breakpoint(xl) {
				margin-bottom: 3.125vmax;
			}
			@include breakpoint(xxl) {
				margin-bottom: 3.47222222222222223vmax;
			}
		}

		.awards-table-mobile {
			display: flex;
			justify-content: space-between;
			@include breakpoint(xl) {
				display: none;
			}

			.awards-table-headings {
				> .sub-heading-2 {
					line-height: 1.55;
					@include breakpoint(lg) {
						line-height: 1.4;
					}
				}
			}

			.awards-table-titles {
				.awards-table-award {
					margin-bottom: 5.20833333333vmax;
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}

		.awards-table-desktop {
			display: none;
			@include breakpoint(xl) {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				column-gap: 1.5625vw;
			}
			@include breakpoint(xxl) {
				column-gap: 1.3888888888888888vw;
			}

			> .sub-heading-2 {
				@include breakpoint(xl) {
					margin-bottom: 1.5625vmax;
				}
				@include breakpoint(xxl) {
					margin-bottom: 1.3888888888888vmax;
				}
			}

			> .body-paragraph {
				@include breakpoint(xl) {
					margin-bottom: 3.90625vmax;
				}
				@include breakpoint(xxl) {
					margin-bottom: 3.47222222222222223vmax;
				}
			}
		}
	}
}

.project-images {
	@include container-sectional;

	.project-desktop-images {
		margin-bottom: 13.888888888888vmax;
		@include breakpoint(md) {
			margin-bottom: 20.83333333333336vmax;
		}
		@include breakpoint(xl) {
			margin-bottom: 15.625vmax;
		}
		@include breakpoint(xxl) {
			margin-bottom: 13.8888888888889vmax;
		}

		.project-desktop-image-container {
			margin-bottom: 6.944444444445vmax;
			&:last-of-type {
				margin-bottom: 0;
			}
			@include breakpoint(md) {
				width: 87.5%;
				&:nth-of-type(even) {
					margin-left: auto;
				}
			}
			@include breakpoint(xl) {
				width: 75%;
				margin-bottom: 6.640625vmax;
			}
			@include breakpoint(xxl) {
				margin-bottom: 6.9444444444444445vmax;
			}
		}
	}
	.project-mobile-images {
		@include breakpoint(md) {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			column-gap: 2.604166666667vw;
		}
		@include breakpoint(xl) {
			column-gap: 1.5625vw;
		}
		@include breakpoint(xxl) {
			column-gap: 1.388888888888888vw;
		}

		.project-mobile-image-container {
			width: 50%;
			&:nth-of-type(even) {
				margin-left: auto;
			}
			@include breakpoint(md) {
				width: 100%;
				&:nth-of-type(even) {
					margin-left: 0;
				}
				&:nth-of-type(2) {
					margin-top: 100%;
				}
				&:nth-of-type(3) {
					margin-top: 200%;
				}
				&:nth-of-type(4) {
					margin-top: 300%;
				}
			}
		}
	}
}

.next-project {
	@include container-sectional;

	.project {
		@include breakpoint(md) {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
		}
		.project-top-mobile {
			@include breakpoint(md) {
				display: none;
			}
		}

		.project-img-container {
			@include breakpoint(md) {
				height: 40vmax;
				flex: 0 0 55%;
			}
			@include breakpoint(xl) {
				height: 85vmin;
				flex: 0 0 55%;
				margin-bottom: 0;
			}
		}

		.project-info {
			@include breakpoint(md) {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			.project-info-desktop {
				@include breakpoint(md) {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
				}
			}
		}
	}
}
