header.home-header {
	padding: $sm;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include breakpoint(md) {
		padding: $md;
	}
	@include breakpoint(lg) {
		display: none;
	}

	.logo-container {
		// width: 4.375vw;
		height: 4.5rem;
		@include breakpoint(sm) {
			// width: 2.778vw;
		}
		@include breakpoint(md) {
			// width: 2.398vw;
			height: 6rem;
		}

		svg {
			width: auto;
			height: 100%;
		}
	}

	.menu-links {
		display: flex;
		align-items: center;
		justify-content: space-between;
		display: none;

		.navlink {
			text-transform: uppercase;
			font-size: 4.375vw;
			&:first-of-type {
				margin-right: 2rem;
			}
			@include breakpoint(sm) {
				font-size: 3.125vw;
			}
			@include breakpoint(md) {
				font-size: 2.878vw;
			}
			@include breakpoint(lg) {
				font-size: 2.016vw;
			}
			@include breakpoint(xl) {
				font-size: 2vw;
			}
			@include breakpoint(xxl) {
				font-size: 1.667vw;
			}
		}
	}
}
