header.home-header {
	padding: $sm-y $sm-x;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include breakpoint(md) {
		padding: $md-y $md-x;
	}
	@include breakpoint(lg) {
		display: none;
	}

	.logo-container {
		// width: 4.375vw;
		height: 4.5rem;
		@include breakpoint(sm) {
			// width: 2.778vw;
		}
		@include breakpoint(md) {
			// width: 2.398vw;
			height: 6rem;
		}

		svg {
			width: auto;
			height: 100%;
		}
	}
}
