%clearfix {
	&::after {
		content: " ";
		display: table;
		clear: both;
	}
}

// Container Requiring Sectional Padding
@mixin container-sectional {
	padding: $section-sm-y $sm-x;
	@include breakpoint(md) {
		padding: $section-lg-y $md-x;
	}
	@include breakpoint(xl) {
		padding: $section-xl-y $xl-x;
	}
	@include breakpoint(xxl) {
		padding: $section-xxl-y $xxl-x;
	}
}

// Container Requiring Normal Padding
@mixin container-small {
	padding: $sm-y $sm-x;
	@include breakpoint(md) {
		padding: $md-y $md-x;
	}
	@include breakpoint(xl) {
		padding: $xl-y $xl-x;
	}
	@include breakpoint(xxl) {
		padding: $xxl-y $xxl-x;
	}
}
// Breakpoint Mixins

@mixin breakpoint($point) {
	@if $point == xxl {
		@media only screen and (min-width: 1440px) {
			@content;
		}
	} @else if $point == xl {
		@media only screen and (min-width: 1200px) {
			@content;
		}
	} @else if $point == lg {
		@media only screen and (min-width: 992px) {
			@content;
		}
	} @else if $point == md {
		@media only screen and (min-width: 768px) {
			@content;
		}
	} @else if $point == sm {
		@media only screen and (min-width: 480px) {
			@content;
		}
	}
}
