/* Colors - Color names from Sipapp on Mac */
$infrared: #ff1744;
$offwhite: #fcf7f8;
$offblack: #141c28;

/* Fonts */
$dm-sans: "DM Sans", sans-serif;
$playfair: "Playfair Display", serif;

/* Spacing */
$sm: 1.5rem;
$md: 3rem;
$lg: 2.9296875vw;
$xl: 2.34375vw;
$xxl: 2.083333333333333vw;
